//🟢 Font face ====================================================================
@font-face {
    font-family:lemonMilk;
    src: url(./../../assets/Fonts/LEMONMILK-Light.otf);
}

@font-face {
    font-family:pixelFont;
    src: url(./../../assets/Fonts/upheavtt.ttf);
}
// 🔴 Fin font face =================================================================



//🟢 Font style =======================================================================

// 🤨

//🔴 FIN Font style =======================================================================


