//🟢 Imports & resets ==============================================================
@import "variables";
@import"fonts";
* {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
//🔴 FIN Imports & resets ==============================================================



// 🟢 General & main containers ========================================================
body {
    position: relative;
    background-color: $couleur-body; /* A retirer/modifier */
}
html::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../assets/gif/noise.gif);
    opacity: 1%;
}

.affiche-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    background-color: $couleur-div; /* A retirer/modifier */

    border: solid white 2px;

    width: 70vh;
    height: 96vh;
    margin: auto;

    margin-top: -18vh;

    border-radius: 12px;

    overflow: hidden;


    user-select: none;
    pointer-events: none;

    
}


// FORAMAT IMAGES WEBP
.formatContent{
    position: absolute;
}
// 🔴 FIN general & main containers========================================================



//🟢 Elements Hors-parralax==================================================================

header{
    margin-top: 9vh;
    
}

#titleShaker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    z-index: 100;
}


#title{
    position: relative;
    width: 69vh;
    z-index: 100;
    filter: drop-shadow(1px 1px 8px rgba(255, 255, 255, 0.323));
    color: #5a0799;
}


#subTitle{
    position: relative;
    z-index: 100;

    font-family: pixelFont;
    color: white;
}
//🔴 FIN Hors-parralax==================================================================




//🟢 placement d'objets (parralax) INDIVIDUELS ==============================================================================
#Noisefilter{
    width: 100%;
    height: 100%;
    background:url(../../assets/gif/noise.gif) 50% 50%;
    opacity: 2%;

    pointer-events: none; 
}
#Colorfilter{
    width: 100%;
    height: 100%;
    background: rgba(204, 0, 255, 0.096);
    
    pointer-events: none; 
}
#background{
    width: 115%;
    top: -10%;
    left: -6%;
}
#pool{
    width: 110%;
    bottom: 0;
}
#portal {
    position: absolute;
    top: 57%;
    left: -21%;
    width: 108%;
    aspect-ratio: 1;
    transform: rotate(10deg) skewX(-28deg);
}
#pipes {
    width: 32%;
    top: 33%;
    left: 25%;
}
#switch {
    width: 13%;
    top: 76%;
    left: 51%;
}
#joyConRouge {
    width: 6%;
    top: 76%;
    left: 64%;
}
#joyConbleu {
    width: 4%;
    top: 77%;
    left: 49%;
}
#twitterIco {
    width: 7%;
    top: 66%;
    left: 70%;
}
#tiktokIco {
    width: 8%;
    top: 62%;
    left: 25%;
}
#netflixIco {
    width: 9%;
    top: 83%;
    left: 52%;
}

#table{
    width: 20%;
    top: 41%;
    left: -2%;
}
#mac {
    width: 14.5%;
    top: 31.5%;
    left: -1%;
    pointer-events: all;
}
#plante{
    width: 18.5%;
    top: 77.5%;
    left: 84%;
}
#girlShirt {
    width: 11.5%;
    top: 20.5%;
    left: 90%;
}
#girlArm {
    width: 33.5%;
    top: 37.9%;
    left: 62%;
}
#phone {
    width: 25.5%;
    top: 45.9%;
    left: 32%;
    z-index: 100;
    filter: brightness(30%);
}
#phoneCase {
    width: 25.5%;
    top: 45.9%;
    left: 32%;
    z-index: 100;
}
#girlLeg {
    width: 12.5%;
    top: 50.5%;
    left: 89%;
}
#girlLeg {
    width: 12.5%;
    top: 50.5%;
    left: 89%;
}
#girlLeg {
    width: 12.5%;
    top: 50.5%;
    left: 89%;
}
#girlHead{
    width: 26%;
    top: 13%;
    left: 74.3%;
}
#handMe{
    width: 45%;
    top: 69%;
    left: -6.7%;
}
//🔴 FIN OBJETS INDIVIDUELS ======================================================





